:root {
    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --color1: #618695;
    --color2: #F6F5F5;
    --color3: #252623;
    --color4: #484744;
    --color5: #EEE7DF;
}

@media screen and (max-width: 1024px) {

    .container {
        width: var(--container-width-md);
        margin: 0 4rem;
    }

    /* navbar */
    nav {
        gap: 40px;
    }

    .nav_container {
        margin-top: 0;
        margin-left: -2.6rem;
    }

    .logo div a {
        margin-left: 0;
    }

    .contact {
        width: 750px;
        /* background-color: wheat; */
    }

    .navItems {
        margin-left: 20px;
    }

    /* header */
    header {
        width: 800px;
    }

    .header_container {
        grid-template-columns: 1fr;
        margin: 0 auto;
        width: 600px;
        text-align: center;

    }

    .header_left {
        /* background-color: yellow; */
        margin: 1rem;
    }

    .header_right {
        margin: 1rem;
    }

    .header_right-image img {
        width: 380px;
        height: 380px;
    }

    /* ************ our services section ************ */
    .section1_container {
        margin-top: 15rem;
    }

    /* ********** QUOTATION BANNER ***************** */
    .banner {
        margin-top: 5rem;
        height: 250px;
    }

    .banner h2 {
        margin-top: 1rem;
    }

    .banner_div {
        margin: 2rem auto;
    }


}

@media screen and (max-width: 850px) {
    .container {
        width: 85%;
    }

    nav {
        width: 850px;
    }

    #home {
        left: 0;
    }

    .nav_container {
        width: 85%;
        margin-left: 3.9rem;
    }

    .navItems {
        flex-direction: column;
        position: absolute;
        background-color: #9fb3bbfd;
        left: -200%;
        top: 100%;
        min-width: 100%;
        /* width: 100px; */
        width: 85%;
        padding-block: 10px;
        height: 130px;
        transition: 0.2s ease-in-out;
        margin-left: 0rem;
    }

    .navItems.active {
        left: 0;
    }

    .hamburger_div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 40px;
        /* margin-top: 20px; */
    }

    /* ************ header **************** */
    header {
        width: 500px;
    }

    .header_container {
        text-align: center;
        padding: 0;
        margin: 0;
        height: 750px;
        /* background-color: red; */
    }

    .header_left {
        width: 65%;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-bottom: 1rem;
        /* background-color: gainsboro; */
        margin-left: 6rem;
    }

    /* our services section1 */
    .section1_container {
        margin-top: 2rem;
        height: auto;
    }

    .section1_subsection {
        flex-direction: column;
    }

    .card1 {
        width: 50%;
    }

    /* ***************** features section *************** */
    .features {
        /* background-color: rebeccapurple; */
        margin-top: 4rem;
        height: auto;
        padding-bottom: 1rem;
    }

    .features_section {
        flex-wrap: wrap;
        gap: 30px;
    }

    /* ********** QUOTATION BANNER ***************** */

    .banner_div input[type="text"],
    input[type="email"] {
        width: 100px;
    }

    textarea {
        width: 400px;
    }

    /* ****************** BANNER 2 **************** */
    .banner2{
        text-align: center;
    }

    .banner2-div{
        flex-direction: column;
    }

    /* ******************* FOOTER ****************** */
    .footer-1 input{
        width: 90%;
        height: 30px;
        font-size: 0.7rem;
    }

    .footer-4{
        padding-top: 50px;
    }


}

@media screen and (max-width: 768px) {

    /* ********** FEATURES SECTION ***************** */
    .features h2 {
        font-size: 26px;
        line-height: 36.11px;
        margin-bottom: 1rem;
    }

    .features {
        /* background-color: red; */
        /* height: 190vh; */
        height: auto;
    }

    /* ***************** FOOTER ********************** */

    .footer_container{
        /* background-color: yellow; */
        flex-direction: column;
        text-align: center;
    }

    .footer-1 input{
        width: 70%;
    }

    .footer-1 button{
        width: 70%;
    }

    .footer-3{
        justify-content: center;
        align-items: center;
    }

    .footer_sections{
        width: 100%;
    }

    .footer-4{
        padding-top: 0;
    }

    



}


@media screen and (max-width: 480px) {
    .container {
        width: 0%;
        /* margin: 0 4rem; */
        margin-left: 2rem;
    }

    .nav_container {
        width: 83%;
    }

    nav {
        margin: 0 auto;
    }

    .contact {
        display: none;
    }

    .hamburger_div {
        margin-right: 0;
    }

    .header_left {
        width: 75%;
        margin-left: 1.8rem;
        height: 310px;
        /* background-color: yellow; */
    }

    .header_container {
        width: 83%;
        text-align: center;
        height: 700px;
        /* background-color: red; */
    }

    .header_left h1 {
        font-size: 1.7rem;
        line-height: 40px;
    }

    .header_left p {
        font-size: 0.8rem;
        margin-bottom: 2rem;
    }

    .header_left-btn {
        flex-direction: column;
        gap: 14px;
    }

    .header_left-btn1 {
        width: 120px;
        font-size: 0.8rem;
    }

    .header_left-btn2 {
        width: 120px;
        font-size: 0.8rem;
    }

    .header_right-image img {
        width: 280px;
        height: 280px;
    }

    /*/* ********** our services section ***************** */
    #section1_h1 {
        width: 300px;
    }

    .section1_container {
        height: auto;
    }

    .section1_subsection {
        width: 300px;
    }

    .card1 {
        margin: 0 auto;
        width: 80%;
    }

    /* ********** features section ********** */
    .features {
        width: 83%;
        margin-top: 4rem;
    }

    .features h2 {
        font-size: 22px;
    }

    .features_section {
        /* background-color: red; */
        flex-direction: column;
        width: 78%;
        margin: 0 auto;
    }

    .feature_card {
        width: 100%;
    }

    /* ********** QUOTATION BANNER ***************** */
    .banner {
        /* background-color: red; */
        height: auto;
        width: 82%;
        margin: 0 auto;
        padding-bottom: 1rem;
        margin-top: 4rem;
    }

    .banner_div {
        /* background-color: red; */
        height: auto;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
    }

    .banner_div input[type="text"],
    input[type="email"] {
        width: 250px;
    }

    textarea {
        width: 250px;
        height: 55px;
        padding: 0;
        padding: 0px 20px;
    }

    /* ******************* PORTFOLIO SECTION *********************** */
    .portfolio h2{
        width: 300px;
    }

    /* ******************* OFFERING SECTION *************************** */
    .offering h2{
        width: 300px;
    }

    .offering{
        /* background-color: yellow; */
        width: 83%;
    }

    .offering_section .feature_card{
        width: auto;
    }

    .offering_card div h4{
        font-size: 25px;
    }

    .offering div p{
        font-size: 20px;
        text-align: center;
        margin-bottom: 0rem;
    }

    /* ******************** BANNER 2 SECTION **************************88 */
    .banner2-div{
        padding: 1rem;
    }
    
    .second-heading{
        font-size: 18px;
    }

    .first-heading{
        font-size: 14px;
    }

    /* ***************** FOOTER ********************** */
    .footer{
        width: 83%;
        /* background-color: red; */
        
    }

    .footer-1 input{
        width: 70%;
       
    }

}


@media screen and (max-width: 320px) {
    .nav_container {
        margin: 0 auto;
    }

    .hamburger_div {
        margin-right: 20px;
    }

    .header_left {
        padding: 0;
        margin: 0;
        width: 45%;
        margin-right: 4rem;
    }

    /* ********** our services section ********** */

    .card1 {
        height: 400px;
        width: 90%;
    }

    

}